<table>
  <% @products.each do  |product| %>
    <tr>
      <td>Name: <%= product.name %></td>
      <td>Description: <%= product.description %></td>
      <td>Price: $<%= product.price %></td>
    </tr>
  <% end %>
</table>